.loginContainer {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .blur {
        width: 350px;
        height: 350px;
        position: absolute;
        top: -25%;
        left: -25%;
        border-radius: 300px;
        z-index: 0;
        background-color: var(--accent);
        filter: blur(150px);

        &:nth-child(1) {
            top: unset;
            left: unset;
            bottom: -25%;
            right: -25%;
        }
    }

    h1 {
        font-size: 60px;
        z-index: 1;

        span {
            color: var(--accent);
        }
    }

    p {
        z-index: 1;
        color: var(--white);
        opacity: 0.5;
    }

    .loginButton {
        z-index: 1;
        max-width: 250px;
        width: fit-content;
        display: flex;
        gap: 15px;
        align-items: center;
        margin-top: 30px;
        background: var(--dark_gray);
        color: var(--white);
        border: 1px solid var(--gray);
        padding: 5px 10px;
        border-radius: 5px;

        img {
            object-fit: contain;
        }

        button {
            outline: none;
            border: none;
            font-size: 18px;
            color: var(--white);
            background: transparent;
            cursor: pointer;
            width: 100%;
            height: 100%;
        }
    }
}
